<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Favorite Collections.ng</title>
</head>
<style>
    * {
        margin: none;
        padding: none;
        box-sizing: border-box;
        font-family: lato, serif;
        font-weight: thin;
    }

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    a{
        color: red;
    }
</style>
<body>
    <div class="hello-div">
        Hello, @displayName to Favourite Collections.<br>
        Please click on this <a href="@activationUrl">link</a> to activate your <br>
        account and start your wonderful journey with us.
    </div>
</body>
</html>